*.jl.*.cov
*.jl.cov
*.jl.mem
/Manifest.toml
/docs/build/

.DS_Store
*/.DS_Store

# Outputs from tests
test/outputs/*

# Outputs from examples
/examples/Manifest.toml
examples/2D-fluid-induced-aseismic-slip/outputs/*
examples/3D-fluid-induced-aseismic-slip/outputs/*